USE [master]
GO
/****** Object:  Database [QUANLYQUANCAPHE]    Script Date: 18/10/2023 00:05:39 ******/
CREATE DATABASE [QUANLYQUANCAPHE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QUANLYQUANCAPHE', FILENAME = N'C:\Users\nguye\QUANLYQUANCAPHE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QUANLYQUANCAPHE_log', FILENAME = N'C:\Users\nguye\QUANLYQUANCAPHE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QUANLYQUANCAPHE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QUANLYQUANCAPHE]
GO
/****** Object:  Table [dbo].[BAN]    Script Date: 18/10/2023 00:05:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAN](
	[MABAN] [nvarchar](50) NOT NULL,
	[TENBAN] [nvarchar](10) NULL,
	[TRANGTHAI] [varchar](50) NULL,
 CONSTRAINT [PK_BAN] PRIMARY KEY CLUSTERED 
(
	[MABAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETHDB]    Script Date: 18/10/2023 00:05:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHDB](
	[MAHDB] [int] NOT NULL,
	[MASP] [varchar](7) NOT NULL,
	[MASIZE] [char](1) NOT NULL,
	[GIAVON] [money] NOT NULL,
	[GIABAN] [money] NOT NULL,
	[SOLUONG] [int] NULL,
	[MAKM] [varchar](10) NULL,
	[THANHTIENBANDAU] [money] NULL,
	[SOTIENGIAM] [money] NULL,
	[THANHTIENCUOICUNG] [money] NULL,
	[TRANGTHAI] [nvarchar](20) NULL,
 CONSTRAINT [PK_CHITIETHDB] PRIMARY KEY CLUSTERED 
(
	[MAHDB] ASC,
	[MASP] ASC,
	[MASIZE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETHDN]    Script Date: 18/10/2023 00:05:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHDN](
	[MAHDN] [varchar](5) NOT NULL,
	[MASP] [varchar](7) NOT NULL,
	[MASIZE] [char](1) NOT NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [money] NULL,
	[TONG] [money] NULL,
	[TRANGTHAI] [nvarchar](20) NULL,
 CONSTRAINT [PK_CTHDN] PRIMARY KEY CLUSTERED 
(
	[MAHDN] ASC,
	[MASP] ASC,
	[MASIZE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETKM]    Script Date: 18/10/2023 00:05:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETKM](
	[MASP] [varchar](7) NOT NULL,
	[MASIZE] [char](1) NOT NULL,
	[MAKM] [varchar](10) NOT NULL,
	[PHANTRAMGIAM] [float] NULL,
	[GIABAN] [money] NULL,
	[SOTIENGIAMTOIDA] [money] NULL,
	[SOTIENGIAM] [money] NULL,
	[GIASAUKHIGIAM] [money] NULL,
	[TRANGTHAI] [nvarchar](50) NULL,
 CONSTRAINT [PK_CHITIETKM] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC,
	[MASIZE] ASC,
	[MAKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETSANPHAM]    Script Date: 18/10/2023 00:05:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETSANPHAM](
	[MACTSP] [varchar](9) NOT NULL,
	[MASP] [varchar](7) NOT NULL,
	[MASIZE] [char](1) NOT NULL,
	[SOLUONG] [int] NULL,
	[MOTA] [nvarchar](255) NULL,
	[GIABAN] [money] NULL,
	[GIAVON] [money] NULL,
	[TRANGTHAI] [nvarchar](20) NULL,
 CONSTRAINT [PK_CTSP] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC,
	[MASIZE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DATBAN]    Script Date: 18/10/2023 00:05:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DATBAN](
	[MABAN] [nvarchar](50) NOT NULL,
	[MAKH] [varchar](5) NOT NULL,
	[NGAYDAT] [datetime] NULL,
	[TRANGTHAI] [varchar](50) NULL,
	[MADATBAN] [varchar](50) NULL,
 CONSTRAINT [PK_DB] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC,
	[MABAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADONBAN]    Script Date: 18/10/2023 00:05:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADONBAN](
	[MAHDB] [int] NOT NULL,
	[MAKH] [varchar](5) NULL,
	[TONGTIENTHANHTOAN] [money] NULL,
	[MANV_LAP] [varchar](5) NULL,
	[NGAYLAPHD] [datetime] NULL,
	[TRANGTHAI] [nvarchar](20) NULL,
	[GHICHU] [nvarchar](255) NULL,
 CONSTRAINT [PK__HOADONBA__78C57A9BF50A65FE] PRIMARY KEY CLUSTERED 
(
	[MAHDB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADONNHAP]    Script Date: 18/10/2023 00:05:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADONNHAP](
	[MAHDN] [varchar](5) NOT NULL,
	[MANV_LAP] [varchar](5) NOT NULL,
	[MANCC] [varchar](3) NULL,
	[NGAYLAP] [datetime] NOT NULL,
	[THANHTIEN] [money] NULL,
	[TRANGTHAI] [nvarchar](20) NULL,
 CONSTRAINT [PK__HOADONNH__78C57AAFCB73AEEF] PRIMARY KEY CLUSTERED 
(
	[MAHDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 18/10/2023 00:05:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [varchar](5) NOT NULL,
	[TENKH] [nvarchar](255) NULL,
	[DIACHI] [nvarchar](255) NULL,
	[SDT] [char](10) NULL,
	[NGAYSINH] [datetime] NULL,
	[TRANGTHAI] [nvarchar](50) NULL,
 CONSTRAINT [PK__KHACHHAN__603F592C437B2FCC] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHUYENMAI]    Script Date: 18/10/2023 00:05:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHUYENMAI](
	[MAKM] [varchar](10) NOT NULL,
	[TENKM] [nvarchar](50) NULL,
	[NGAYBATDAU] [datetime] NULL,
	[NGAYHETHAN] [datetime] NULL,
	[TRANGTHAI] [nvarchar](50) NULL,
 CONSTRAINT [PK__KHUYENMA__603F592B24047972] PRIMARY KEY CLUSTERED 
(
	[MAKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICHSUDANGNHAP]    Script Date: 18/10/2023 00:05:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHSUDANGNHAP](
	[MANV] [varchar](5) NOT NULL,
	[NGAYGIODANGNHAP] [datetime] NOT NULL,
	[NGAYGIODANGXUAT] [datetime] NULL,
	[TRANGTHAI] [nvarchar](20) NULL,
	[SUADOIMATKHAU] [bit] NULL,
 CONSTRAINT [PK_LICHSUDANGNHAP] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC,
	[NGAYGIODANGNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAISP]    Script Date: 18/10/2023 00:05:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAISP](
	[MALOAISP] [varchar](6) NOT NULL,
	[TENLOAISP] [nvarchar](50) NULL,
	[TRANGTHAI] [nvarchar](50) NULL,
 CONSTRAINT [PK_LOAISP] PRIMARY KEY CLUSTERED 
(
	[MALOAISP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACC]    Script Date: 18/10/2023 00:05:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACC](
	[MANCC] [varchar](3) NOT NULL,
	[TENNCC] [nvarchar](50) NULL,
	[SDT] [char](10) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[MOTA] [nvarchar](200) NULL,
	[TRANGTHAI] [nvarchar](50) NULL,
 CONSTRAINT [PK__NHACC__7ABEA582FAACDC62] PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 18/10/2023 00:05:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [varchar](5) NOT NULL,
	[TENNV] [nvarchar](255) NULL,
	[DIACHI] [nvarchar](255) NULL,
	[SDT] [char](10) NULL,
	[CHUCVU] [nvarchar](255) NULL,
	[NGAYVAOLAM] [datetime] NULL,
	[GIOITINH] [nvarchar](3) NULL,
	[NGAYSINH] [datetime] NULL,
	[TRANGTHAI] [nvarchar](50) NULL,
	[MATKHAU] [char](64) NULL,
 CONSTRAINT [PK__NHANVIEN__603F5114F0996120] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 18/10/2023 00:05:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [varchar](7) NOT NULL,
	[TENSP] [nvarchar](255) NULL,
	[SOLUONG] [int] NULL,
	[LINK_IMG] [varchar](255) NULL,
	[MOTA] [nvarchar](255) NULL,
	[MANCC] [char](3) NULL,
	[LOAISP] [varchar](6) NULL,
	[TRANGTHAI] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK__SANPHAM__60228A3200703CE7] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SIZE]    Script Date: 18/10/2023 00:05:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIZE](
	[MASIZE] [char](1) NOT NULL,
	[MOTA] [nvarchar](255) NULL,
	[TRANGTHAI] [bit] NOT NULL,
 CONSTRAINT [PK_SIZE] PRIMARY KEY CLUSTERED 
(
	[MASIZE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BAN] ([MABAN], [TENBAN], [TRANGTHAI]) VALUES (N'01', N'Bàn 01', N'1')
INSERT [dbo].[BAN] ([MABAN], [TENBAN], [TRANGTHAI]) VALUES (N'07', N'Bàn 07', N'DANG SU DUNG')
INSERT [dbo].[BAN] ([MABAN], [TENBAN], [TRANGTHAI]) VALUES (N'08', N'Bàn 08', N'TRONG')
GO
INSERT [dbo].[CHITIETHDB] ([MAHDB], [MASP], [MASIZE], [GIAVON], [GIABAN], [SOLUONG], [MAKM], [THANHTIENBANDAU], [SOTIENGIAM], [THANHTIENCUOICUNG], [TRANGTHAI]) VALUES (1, N'001.002', N'M', 13000.0000, 33000.0000, 20, NULL, 660000.0000, 0.0000, 660000.0000, N'Đã thanh toán')
INSERT [dbo].[CHITIETHDB] ([MAHDB], [MASP], [MASIZE], [GIAVON], [GIABAN], [SOLUONG], [MAKM], [THANHTIENBANDAU], [SOTIENGIAM], [THANHTIENCUOICUNG], [TRANGTHAI]) VALUES (2, N'005.009', N'M', 14000.0000, 35000.0000, 16, NULL, 560000.0000, 0.0000, 560000.0000, N'Đã thanh toán')
INSERT [dbo].[CHITIETHDB] ([MAHDB], [MASP], [MASIZE], [GIAVON], [GIABAN], [SOLUONG], [MAKM], [THANHTIENBANDAU], [SOTIENGIAM], [THANHTIENCUOICUNG], [TRANGTHAI]) VALUES (6, N'004.005', N'S', 12000.0000, 30000.0000, 8, NULL, 240000.0000, 0.0000, 240000.0000, N'Đã thanh toán')
GO
INSERT [dbo].[CHITIETKM] ([MASP], [MASIZE], [MAKM], [PHANTRAMGIAM], [GIABAN], [SOTIENGIAMTOIDA], [SOTIENGIAM], [GIASAUKHIGIAM], [TRANGTHAI]) VALUES (N'001.002', N'M', N'KM1', 10, 38000.0000, 5000.0000, 3800.0000, 34200.0000, N'Hoạt động')
INSERT [dbo].[CHITIETKM] ([MASP], [MASIZE], [MAKM], [PHANTRAMGIAM], [GIABAN], [SOTIENGIAMTOIDA], [SOTIENGIAM], [GIASAUKHIGIAM], [TRANGTHAI]) VALUES (N'001.005', N'L', N'KM2', 50, 38000.0000, 15000.0000, 19000.0000, 23000.0000, N'Hoạt động')
INSERT [dbo].[CHITIETKM] ([MASP], [MASIZE], [MAKM], [PHANTRAMGIAM], [GIABAN], [SOTIENGIAMTOIDA], [SOTIENGIAM], [GIASAUKHIGIAM], [TRANGTHAI]) VALUES (N'002.005', N'L', N'KM2', 10, 43000.0000, 5000.0000, 4300.0000, 38700.0000, N'Hoạt động')
GO
INSERT [dbo].[CHITIETSANPHAM] ([MACTSP], [MASP], [MASIZE], [SOLUONG], [MOTA], [GIABAN], [GIAVON], [TRANGTHAI]) VALUES (N'001.001.L', N'001.001', N'L', 9990, N'TRÀ SỮA BẠC HÀ Size lớn', 38000.0000, 15000.0000, N'Không hoạt động')
INSERT [dbo].[CHITIETSANPHAM] ([MACTSP], [MASP], [MASIZE], [SOLUONG], [MOTA], [GIABAN], [GIAVON], [TRANGTHAI]) VALUES (N'001.001.M', N'001.001', N'M', 9985, N'TRÀ SỮA BẠC HÀ Size trung bình', 30000.0000, 12000.0000, N'Không hoạt động')
INSERT [dbo].[CHITIETSANPHAM] ([MACTSP], [MASP], [MASIZE], [SOLUONG], [MOTA], [GIABAN], [GIAVON], [TRANGTHAI]) VALUES (N'001.001.S', N'001.001', N'S', 10000, N'TRÀ SỮA BẠC HÀ Size nhỏ', 25000.0000, 10000.0000, N'Không hoạt động')
GO
INSERT [dbo].[HOADONBAN] ([MAHDB], [MAKH], [TONGTIENTHANHTOAN], [MANV_LAP], [NGAYLAPHD], [TRANGTHAI], [GHICHU]) VALUES (1, N'KH4', 1580000.0000, N'NV2', CAST(N'2023-01-12T00:00:00.000' AS DateTime), N'Đã thanh toán', N'')
INSERT [dbo].[HOADONBAN] ([MAHDB], [MAKH], [TONGTIENTHANHTOAN], [MANV_LAP], [NGAYLAPHD], [TRANGTHAI], [GHICHU]) VALUES (2, NULL, 1560000.0000, N'NV2', CAST(N'2023-01-12T00:00:00.000' AS DateTime), N'Đã thanh toán', N'')
INSERT [dbo].[HOADONBAN] ([MAHDB], [MAKH], [TONGTIENTHANHTOAN], [MANV_LAP], [NGAYLAPHD], [TRANGTHAI], [GHICHU]) VALUES (3, NULL, 494000.0000, N'NV3', CAST(N'2023-01-12T00:00:00.000' AS DateTime), N'Đã thanh toán', N'')
GO
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIACHI], [SDT], [NGAYSINH], [TRANGTHAI]) VALUES (N'KH1', N'Nguyễn Thị Thu Trang', N'2A Phan Chu Trinh, Phường 12, Bình Thạnh, Thành phố Hồ Chí Minh, Việt Nam', N'0359852588', CAST(N'1992-06-06T00:00:00.000' AS DateTime), N'Hoạt động')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIACHI], [SDT], [NGAYSINH], [TRANGTHAI]) VALUES (N'KH2', N'Đinh Thu Thảo', N'134 Điện Biên Phủ, Phường 17, Bình Thạnh, Thành phố Hồ Chí Minh, Việt Nam', N'0971910303', CAST(N'1985-10-10T00:00:00.000' AS DateTime), N'Không hoạt động')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIACHI], [SDT], [NGAYSINH], [TRANGTHAI]) VALUES (N'KH3', N'Nguyễn Phan Anh', N'135 Hai Bà Trưng, Bến Nghé, Quận 1, Thành phố Hồ Chí Minh, Việt Nam', N'0342677737', CAST(N'2001-07-07T00:00:00.000' AS DateTime), N'Không hoạt động')
GO
INSERT [dbo].[KHUYENMAI] ([MAKM], [TENKM], [NGAYBATDAU], [NGAYHETHAN], [TRANGTHAI]) VALUES (N'KM1', N'Giảm giá 10 phần trăm', CAST(N'2023-05-17T00:00:00.000' AS DateTime), CAST(N'2023-05-18T00:00:00.000' AS DateTime), N'Hoạt động')
INSERT [dbo].[KHUYENMAI] ([MAKM], [TENKM], [NGAYBATDAU], [NGAYHETHAN], [TRANGTHAI]) VALUES (N'KM2', N'Hello hè', CAST(N'2023-05-17T00:00:00.000' AS DateTime), CAST(N'2023-05-18T00:00:00.000' AS DateTime), N'Hoạt động')
INSERT [dbo].[KHUYENMAI] ([MAKM], [TENKM], [NGAYBATDAU], [NGAYHETHAN], [TRANGTHAI]) VALUES (N'KM3', N'Chào buổi sáng', CAST(N'2023-05-17T00:00:00.000' AS DateTime), CAST(N'2023-05-18T00:00:00.000' AS DateTime), N'Hoạt động')
GO
INSERT [dbo].[LICHSUDANGNHAP] ([MANV], [NGAYGIODANGNHAP], [NGAYGIODANGXUAT], [TRANGTHAI], [SUADOIMATKHAU]) VALUES (N'NV1', CAST(N'2023-04-17T18:38:49.440' AS DateTime), CAST(N'2023-04-17T18:56:07.050' AS DateTime), N'', 0)
INSERT [dbo].[LICHSUDANGNHAP] ([MANV], [NGAYGIODANGNHAP], [NGAYGIODANGXUAT], [TRANGTHAI], [SUADOIMATKHAU]) VALUES (N'NV1', CAST(N'2023-04-17T18:59:14.277' AS DateTime), CAST(N'2023-04-17T19:10:48.793' AS DateTime), N'', 0)
INSERT [dbo].[LICHSUDANGNHAP] ([MANV], [NGAYGIODANGNHAP], [NGAYGIODANGXUAT], [TRANGTHAI], [SUADOIMATKHAU]) VALUES (N'NV1', CAST(N'2023-04-17T19:34:56.300' AS DateTime), NULL, N'', 0)
GO
INSERT [dbo].[LOAISP] ([MALOAISP], [TENLOAISP], [TRANGTHAI]) VALUES (N'LSP1', N'Trà sữa', N'Hoạt động')
INSERT [dbo].[LOAISP] ([MALOAISP], [TENLOAISP], [TRANGTHAI]) VALUES (N'LSP2', N'Cà phê', N'Hoạt động')
INSERT [dbo].[LOAISP] ([MALOAISP], [TENLOAISP], [TRANGTHAI]) VALUES (N'LSP3', N'Nước ngọt', N'Hoạt động')
GO
INSERT [dbo].[NHACC] ([MANCC], [TENNCC], [SDT], [DIACHI], [MOTA], [TRANGTHAI]) VALUES (N'001', N'Nhà cung cấp Trà sữa', N'0909090909', NULL, NULL, N'Hoạt động')
INSERT [dbo].[NHACC] ([MANCC], [TENNCC], [SDT], [DIACHI], [MOTA], [TRANGTHAI]) VALUES (N'002', N'Nhà cung cấp Cà phê', N'0909090902', NULL, NULL, N'Hoạt động')
INSERT [dbo].[NHACC] ([MANCC], [TENNCC], [SDT], [DIACHI], [MOTA], [TRANGTHAI]) VALUES (N'003', N'Nhà cung cấp Sữa chua', NULL, NULL, NULL, N'Hoạt động')
GO
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [DIACHI], [SDT], [CHUCVU], [NGAYVAOLAM], [GIOITINH], [NGAYSINH], [TRANGTHAI], [MATKHAU]) VALUES (N'NV1', N'Lê Bảo Ngọc', N'63 Nguyễn Đình Chiểu, Quận 1', N'0981898402', N'Quản lý', CAST(N'2022-12-03T00:00:00.000' AS DateTime), N'Nữ', CAST(N'1991-04-03T00:00:00.000' AS DateTime), N'Xoá', N'ba7816bf8f01cfea414140de5dae2223b00361a396177a9cb410ff61f20015ad')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [DIACHI], [SDT], [CHUCVU], [NGAYVAOLAM], [GIOITINH], [NGAYSINH], [TRANGTHAI], [MATKHAU]) VALUES (N'NV2', N'Phạm Đức Duy', N'137 Nguyễn Thị Minh Khai, Quận 3', N'0984501940', N'Nhân viên bán hàng', CAST(N'2022-12-03T00:00:00.000' AS DateTime), N'Nam', CAST(N'2005-10-17T00:00:00.000' AS DateTime), N'Đang làm', N'ba7816bf8f01cfea414140de5dae2223b00361a396177a9cb410ff61f20015ad')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [DIACHI], [SDT], [CHUCVU], [NGAYVAOLAM], [GIOITINH], [NGAYSINH], [TRANGTHAI], [MATKHAU]) VALUES (N'NV3', N'Phạm Gia Linh', N'74A Nguyễn Văn Cừ, Quận 5', N'0973084471', N'Nhân viên bán hàng', CAST(N'2022-12-03T00:00:00.000' AS DateTime), N'Nữ', CAST(N'1991-04-03T00:00:00.000' AS DateTime), N'Đang làm', N'ba7816bf8f01cfea414140de5dae2223b00361a396177a9cb410ff61f20015ad')
GO
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [SOLUONG], [LINK_IMG], [MOTA], [MANCC], [LOAISP], [TRANGTHAI]) VALUES (N'001.001', N'TRÀ SỮA BẠC HÀ 123', NULL, N'001.001.jpg', N'TRÀ SỮA BẠC HÀ 123 thức uống có vị ngon tuyệt vời', N'001', N'LSP1', N'Hoạt động')
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [SOLUONG], [LINK_IMG], [MOTA], [MANCC], [LOAISP], [TRANGTHAI]) VALUES (N'001.002', N'TRÀ SỮA DÂU TÂY', 19924, N'001.002.jpg', N'TRÀ SỮA DÂU TÂY thức uống có vị ngon tuyệt vời', N'001', N'LSP1', N'Không hoạt động')
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [SOLUONG], [LINK_IMG], [MOTA], [MANCC], [LOAISP], [TRANGTHAI]) VALUES (N'001.003', N'TRÀ SỮA CHOCOLATE', 19992, N'001.003.jpg', N'TRÀ SỮA CHOCOLATE thức uống có vị ngon tuyệt vời', N'001', N'LSP1', N'Hoạt động')
GO
INSERT [dbo].[SIZE] ([MASIZE], [MOTA], [TRANGTHAI]) VALUES (N'L', N'Size lớn', 1)
INSERT [dbo].[SIZE] ([MASIZE], [MOTA], [TRANGTHAI]) VALUES (N'M', N'Size trung bình', 1)
INSERT [dbo].[SIZE] ([MASIZE], [MOTA], [TRANGTHAI]) VALUES (N'S', N'Size nhỏ', 1)
GO
ALTER TABLE [dbo].[CHITIETSANPHAM] ADD  CONSTRAINT [DF__CHITIETSA__TRANG__276EDEB3]  DEFAULT ((1)) FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[HOADONBAN] ADD  CONSTRAINT [DF__HOADONBAN__TRANG__286302EC]  DEFAULT ((1)) FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[KHACHHANG] ADD  CONSTRAINT [DF__KHACHHANG__TRANG__58D1301D]  DEFAULT ((1)) FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[KHUYENMAI] ADD  CONSTRAINT [DF__KHUYENMAI__NGAYT__2A4B4B5E]  DEFAULT (getdate()) FOR [NGAYBATDAU]
GO
ALTER TABLE [dbo].[KHUYENMAI] ADD  CONSTRAINT [DF__KHUYENMAI__TRANG__2B3F6F97]  DEFAULT ((0)) FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[NHACC] ADD  CONSTRAINT [DF__NHACC__TRANGTHAI__2D27B809]  DEFAULT ((1)) FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [DF__NHANVIEN__TRANGT__2E1BDC42]  DEFAULT ((1)) FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[SANPHAM] ADD  CONSTRAINT [DF__SANPHAM__TRANGTH__2F10007B]  DEFAULT ((1)) FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[CHITIETHDB]  WITH CHECK ADD FOREIGN KEY([MASIZE])
REFERENCES [dbo].[SIZE] ([MASIZE])
GO
ALTER TABLE [dbo].[CHITIETHDB]  WITH CHECK ADD FOREIGN KEY([MASIZE])
REFERENCES [dbo].[SIZE] ([MASIZE])
GO
ALTER TABLE [dbo].[CHITIETHDB]  WITH CHECK ADD FOREIGN KEY([MAKM])
REFERENCES [dbo].[KHUYENMAI] ([MAKM])
GO
ALTER TABLE [dbo].[CHITIETHDB]  WITH CHECK ADD FOREIGN KEY([MAKM])
REFERENCES [dbo].[KHUYENMAI] ([MAKM])
GO
ALTER TABLE [dbo].[CHITIETHDB]  WITH CHECK ADD FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CHITIETHDB]  WITH CHECK ADD FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CHITIETHDN]  WITH CHECK ADD  CONSTRAINT [FK__CHITIETHD__MAHDN__02C769E9] FOREIGN KEY([MAHDN])
REFERENCES [dbo].[HOADONNHAP] ([MAHDN])
GO
ALTER TABLE [dbo].[CHITIETHDN] CHECK CONSTRAINT [FK__CHITIETHD__MAHDN__02C769E9]
GO
ALTER TABLE [dbo].[CHITIETHDN]  WITH CHECK ADD  CONSTRAINT [FK__CHITIETHD__MAHDN__03BB8E22] FOREIGN KEY([MAHDN])
REFERENCES [dbo].[HOADONNHAP] ([MAHDN])
GO
ALTER TABLE [dbo].[CHITIETHDN] CHECK CONSTRAINT [FK__CHITIETHD__MAHDN__03BB8E22]
GO
ALTER TABLE [dbo].[CHITIETHDN]  WITH CHECK ADD  CONSTRAINT [FK__CHITIETHD__MAHDN__10566F31] FOREIGN KEY([MAHDN])
REFERENCES [dbo].[HOADONNHAP] ([MAHDN])
GO
ALTER TABLE [dbo].[CHITIETHDN] CHECK CONSTRAINT [FK__CHITIETHD__MAHDN__10566F31]
GO
ALTER TABLE [dbo].[CHITIETHDN]  WITH CHECK ADD  CONSTRAINT [FK__CHITIETHD__MAHDN__114A936A] FOREIGN KEY([MAHDN])
REFERENCES [dbo].[HOADONNHAP] ([MAHDN])
GO
ALTER TABLE [dbo].[CHITIETHDN] CHECK CONSTRAINT [FK__CHITIETHD__MAHDN__114A936A]
GO
ALTER TABLE [dbo].[CHITIETHDN]  WITH CHECK ADD  CONSTRAINT [FK__CHITIETHD__MAHDN__34C8D9D1] FOREIGN KEY([MAHDN])
REFERENCES [dbo].[HOADONNHAP] ([MAHDN])
GO
ALTER TABLE [dbo].[CHITIETHDN] CHECK CONSTRAINT [FK__CHITIETHD__MAHDN__34C8D9D1]
GO
ALTER TABLE [dbo].[CHITIETHDN]  WITH CHECK ADD  CONSTRAINT [FK__CHITIETHD__MAHDN__367C1819] FOREIGN KEY([MAHDN])
REFERENCES [dbo].[HOADONNHAP] ([MAHDN])
GO
ALTER TABLE [dbo].[CHITIETHDN] CHECK CONSTRAINT [FK__CHITIETHD__MAHDN__367C1819]
GO
ALTER TABLE [dbo].[CHITIETHDN]  WITH CHECK ADD  CONSTRAINT [FK__CHITIETHD__MAHDN__37703C52] FOREIGN KEY([MAHDN])
REFERENCES [dbo].[HOADONNHAP] ([MAHDN])
GO
ALTER TABLE [dbo].[CHITIETHDN] CHECK CONSTRAINT [FK__CHITIETHD__MAHDN__37703C52]
GO
ALTER TABLE [dbo].[CHITIETHDN]  WITH CHECK ADD  CONSTRAINT [FK__CHITIETHD__MAHDN__5CA1C101] FOREIGN KEY([MAHDN])
REFERENCES [dbo].[HOADONNHAP] ([MAHDN])
GO
ALTER TABLE [dbo].[CHITIETHDN] CHECK CONSTRAINT [FK__CHITIETHD__MAHDN__5CA1C101]
GO
ALTER TABLE [dbo].[CHITIETHDN]  WITH CHECK ADD  CONSTRAINT [FK__CHITIETHD__MAHDN__5D95E53A] FOREIGN KEY([MAHDN])
REFERENCES [dbo].[HOADONNHAP] ([MAHDN])
GO
ALTER TABLE [dbo].[CHITIETHDN] CHECK CONSTRAINT [FK__CHITIETHD__MAHDN__5D95E53A]
GO
ALTER TABLE [dbo].[CHITIETHDN]  WITH CHECK ADD FOREIGN KEY([MASIZE])
REFERENCES [dbo].[SIZE] ([MASIZE])
GO
ALTER TABLE [dbo].[CHITIETHDN]  WITH CHECK ADD FOREIGN KEY([MASIZE])
REFERENCES [dbo].[SIZE] ([MASIZE])
GO
ALTER TABLE [dbo].[CHITIETHDN]  WITH CHECK ADD FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CHITIETHDN]  WITH CHECK ADD FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CHITIETHDN]  WITH CHECK ADD  CONSTRAINT [FK_CTHDN] FOREIGN KEY([MASP], [MASIZE])
REFERENCES [dbo].[CHITIETSANPHAM] ([MASP], [MASIZE])
GO
ALTER TABLE [dbo].[CHITIETHDN] CHECK CONSTRAINT [FK_CTHDN]
GO
ALTER TABLE [dbo].[CHITIETKM]  WITH CHECK ADD  CONSTRAINT [FK__CHITIETKM__MAKM__57DD0BE4] FOREIGN KEY([MAKM])
REFERENCES [dbo].[KHUYENMAI] ([MAKM])
GO
ALTER TABLE [dbo].[CHITIETKM] CHECK CONSTRAINT [FK__CHITIETKM__MAKM__57DD0BE4]
GO
ALTER TABLE [dbo].[CHITIETKM]  WITH CHECK ADD FOREIGN KEY([MASIZE])
REFERENCES [dbo].[SIZE] ([MASIZE])
GO
ALTER TABLE [dbo].[CHITIETKM]  WITH CHECK ADD FOREIGN KEY([MASIZE])
REFERENCES [dbo].[SIZE] ([MASIZE])
GO
ALTER TABLE [dbo].[CHITIETKM]  WITH CHECK ADD FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CHITIETKM]  WITH CHECK ADD FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CHITIETKM]  WITH CHECK ADD  CONSTRAINT [FK_CTKM] FOREIGN KEY([MASP], [MASIZE])
REFERENCES [dbo].[CHITIETSANPHAM] ([MASP], [MASIZE])
GO
ALTER TABLE [dbo].[CHITIETKM] CHECK CONSTRAINT [FK_CTKM]
GO
ALTER TABLE [dbo].[CHITIETSANPHAM]  WITH CHECK ADD  CONSTRAINT [FK__CHITIETSA__MASIZ__6E01572D] FOREIGN KEY([MASIZE])
REFERENCES [dbo].[SIZE] ([MASIZE])
GO
ALTER TABLE [dbo].[CHITIETSANPHAM] CHECK CONSTRAINT [FK__CHITIETSA__MASIZ__6E01572D]
GO
ALTER TABLE [dbo].[CHITIETSANPHAM]  WITH CHECK ADD  CONSTRAINT [FK__CHITIETSAN__MASP__7E37BEF6] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CHITIETSANPHAM] CHECK CONSTRAINT [FK__CHITIETSAN__MASP__7E37BEF6]
GO
ALTER TABLE [dbo].[DATBAN]  WITH CHECK ADD FOREIGN KEY([MABAN])
REFERENCES [dbo].[BAN] ([MABAN])
GO
ALTER TABLE [dbo].[DATBAN]  WITH CHECK ADD FOREIGN KEY([MABAN])
REFERENCES [dbo].[BAN] ([MABAN])
GO
ALTER TABLE [dbo].[DATBAN]  WITH CHECK ADD FOREIGN KEY([MABAN])
REFERENCES [dbo].[BAN] ([MABAN])
GO
ALTER TABLE [dbo].[DATBAN]  WITH CHECK ADD FOREIGN KEY([MABAN])
REFERENCES [dbo].[BAN] ([MABAN])
GO
ALTER TABLE [dbo].[DATBAN]  WITH CHECK ADD FOREIGN KEY([MABAN])
REFERENCES [dbo].[BAN] ([MABAN])
GO
ALTER TABLE [dbo].[DATBAN]  WITH CHECK ADD FOREIGN KEY([MABAN])
REFERENCES [dbo].[BAN] ([MABAN])
GO
ALTER TABLE [dbo].[DATBAN]  WITH CHECK ADD FOREIGN KEY([MABAN])
REFERENCES [dbo].[BAN] ([MABAN])
GO
ALTER TABLE [dbo].[DATBAN]  WITH CHECK ADD FOREIGN KEY([MABAN])
REFERENCES [dbo].[BAN] ([MABAN])
GO
ALTER TABLE [dbo].[DATBAN]  WITH CHECK ADD FOREIGN KEY([MABAN])
REFERENCES [dbo].[BAN] ([MABAN])
GO
ALTER TABLE [dbo].[DATBAN]  WITH CHECK ADD FOREIGN KEY([MABAN])
REFERENCES [dbo].[BAN] ([MABAN])
GO
ALTER TABLE [dbo].[DATBAN]  WITH CHECK ADD FOREIGN KEY([MABAN])
REFERENCES [dbo].[BAN] ([MABAN])
GO
ALTER TABLE [dbo].[DATBAN]  WITH CHECK ADD FOREIGN KEY([MABAN])
REFERENCES [dbo].[BAN] ([MABAN])
GO
ALTER TABLE [dbo].[DATBAN]  WITH CHECK ADD FOREIGN KEY([MABAN])
REFERENCES [dbo].[BAN] ([MABAN])
GO
ALTER TABLE [dbo].[DATBAN]  WITH CHECK ADD FOREIGN KEY([MABAN])
REFERENCES [dbo].[BAN] ([MABAN])
GO
ALTER TABLE [dbo].[DATBAN]  WITH CHECK ADD FOREIGN KEY([MABAN])
REFERENCES [dbo].[BAN] ([MABAN])
GO
ALTER TABLE [dbo].[DATBAN]  WITH CHECK ADD FOREIGN KEY([MABAN])
REFERENCES [dbo].[BAN] ([MABAN])
GO
ALTER TABLE [dbo].[DATBAN]  WITH CHECK ADD FOREIGN KEY([MABAN])
REFERENCES [dbo].[BAN] ([MABAN])
GO
ALTER TABLE [dbo].[DATBAN]  WITH CHECK ADD FOREIGN KEY([MABAN])
REFERENCES [dbo].[BAN] ([MABAN])
GO
ALTER TABLE [dbo].[DATBAN]  WITH CHECK ADD FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[DATBAN]  WITH CHECK ADD FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[DATBAN]  WITH CHECK ADD FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[DATBAN]  WITH CHECK ADD FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[DATBAN]  WITH CHECK ADD FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[DATBAN]  WITH CHECK ADD FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[DATBAN]  WITH CHECK ADD FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[DATBAN]  WITH CHECK ADD FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[DATBAN]  WITH CHECK ADD FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[DATBAN]  WITH CHECK ADD FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[DATBAN]  WITH CHECK ADD FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[DATBAN]  WITH CHECK ADD FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[DATBAN]  WITH CHECK ADD FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[DATBAN]  WITH CHECK ADD FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[DATBAN]  WITH CHECK ADD FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[DATBAN]  WITH CHECK ADD FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[DATBAN]  WITH CHECK ADD FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[DATBAN]  WITH CHECK ADD FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[HOADONBAN]  WITH CHECK ADD  CONSTRAINT [FK__HOADONBAN__MAKH__5D95E53A] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[HOADONBAN] CHECK CONSTRAINT [FK__HOADONBAN__MAKH__5D95E53A]
GO
ALTER TABLE [dbo].[HOADONBAN]  WITH CHECK ADD  CONSTRAINT [FK__HOADONBAN__MANV___68487DD7] FOREIGN KEY([MANV_LAP])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADONBAN] CHECK CONSTRAINT [FK__HOADONBAN__MANV___68487DD7]
GO
ALTER TABLE [dbo].[HOADONNHAP]  WITH CHECK ADD  CONSTRAINT [FK__HOADONNHA__MANCC__37A5467C] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACC] ([MANCC])
GO
ALTER TABLE [dbo].[HOADONNHAP] CHECK CONSTRAINT [FK__HOADONNHA__MANCC__37A5467C]
GO
ALTER TABLE [dbo].[HOADONNHAP]  WITH CHECK ADD  CONSTRAINT [FK__HOADONNHA__MANV___38996AB5] FOREIGN KEY([MANV_LAP])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADONNHAP] CHECK CONSTRAINT [FK__HOADONNHA__MANV___38996AB5]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK__SANPHAM__LOAISP__403A8C7D] FOREIGN KEY([LOAISP])
REFERENCES [dbo].[LOAISP] ([MALOAISP])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK__SANPHAM__LOAISP__403A8C7D]
GO
ALTER TABLE [dbo].[CHITIETHDB]  WITH CHECK ADD CHECK  (([soluong]>=(0)))
GO
ALTER TABLE [dbo].[CHITIETHDB]  WITH CHECK ADD CHECK  (([soluong]>=(0)))
GO
ALTER TABLE [dbo].[CHITIETHDB]  WITH CHECK ADD CHECK  (([soluong]>=(0)))
GO
ALTER TABLE [dbo].[CHITIETHDB]  WITH CHECK ADD CHECK  (([soluong]>=(0)))
GO
ALTER TABLE [dbo].[CHITIETHDB]  WITH CHECK ADD CHECK  (([soluong]>=(0)))
GO
ALTER TABLE [dbo].[CHITIETHDB]  WITH CHECK ADD CHECK  (([soluong]>=(0)))
GO
ALTER TABLE [dbo].[CHITIETHDB]  WITH CHECK ADD CHECK  (([soluong]>=(0)))
GO
ALTER TABLE [dbo].[CHITIETHDB]  WITH CHECK ADD CHECK  (([soluong]>=(0)))
GO
ALTER TABLE [dbo].[CHITIETHDB]  WITH CHECK ADD CHECK  (([soluong]>=(0)))
GO
ALTER TABLE [dbo].[CHITIETHDB]  WITH CHECK ADD CHECK  (([soluong]>=(0)))
GO
ALTER TABLE [dbo].[CHITIETHDB]  WITH CHECK ADD CHECK  (([soluong]>=(0)))
GO
ALTER TABLE [dbo].[CHITIETHDB]  WITH CHECK ADD CHECK  (([soluong]>=(0)))
GO
ALTER TABLE [dbo].[CHITIETHDB]  WITH CHECK ADD CHECK  (([soluong]>=(0)))
GO
ALTER TABLE [dbo].[CHITIETHDB]  WITH CHECK ADD CHECK  (([soluong]>=(0)))
GO
ALTER TABLE [dbo].[CHITIETHDB]  WITH CHECK ADD CHECK  (([soluong]>=(0)))
GO
ALTER TABLE [dbo].[CHITIETHDB]  WITH CHECK ADD CHECK  (([soluong]>=(0)))
GO
ALTER TABLE [dbo].[CHITIETHDB]  WITH CHECK ADD CHECK  (([soluong]>=(0)))
GO
ALTER TABLE [dbo].[CHITIETHDB]  WITH CHECK ADD CHECK  (([soluong]>=(0)))
GO
ALTER TABLE [dbo].[CHITIETSANPHAM]  WITH CHECK ADD  CONSTRAINT [CK__CHITIETSA__SOLUO__5535A963] CHECK  (([soluong]>=(0)))
GO
ALTER TABLE [dbo].[CHITIETSANPHAM] CHECK CONSTRAINT [CK__CHITIETSA__SOLUO__5535A963]
GO
ALTER TABLE [dbo].[CHITIETSANPHAM]  WITH CHECK ADD  CONSTRAINT [CK__CHITIETSA__SOLUO__5812160E] CHECK  (([soluong]>=(0)))
GO
ALTER TABLE [dbo].[CHITIETSANPHAM] CHECK CONSTRAINT [CK__CHITIETSA__SOLUO__5812160E]
GO
ALTER TABLE [dbo].[CHITIETSANPHAM]  WITH CHECK ADD  CONSTRAINT [CK__CHITIETSA__SOLUO__6A30C649] CHECK  (([soluong]>=(0)))
GO
ALTER TABLE [dbo].[CHITIETSANPHAM] CHECK CONSTRAINT [CK__CHITIETSA__SOLUO__6A30C649]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [CK__SANPHAM__SOLUONG__5629CD9C] CHECK  (([soluong]>=(0)))
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [CK__SANPHAM__SOLUONG__5629CD9C]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [CK__SANPHAM__SOLUONG__571DF1D5] CHECK  (([soluong]>=(0)))
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [CK__SANPHAM__SOLUONG__571DF1D5]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [CK__SANPHAM__SOLUONG__6B24EA82] CHECK  (([soluong]>=(0)))
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [CK__SANPHAM__SOLUONG__6B24EA82]
GO
USE [master]
GO
