/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [MAHDB]
      ,[MAKH]
      ,[TONGTIENTHANHTOAN]
      ,[MANV_LAP]
      ,[NGAYLAPHD]
      ,[TRANGTHAI]
      ,[GHICHU]
  FROM [QUANLYQUANCAPHE].[dbo].[HOADONBAN]

-- TRUY VẤN THEO NĂM
  SELECT YEAR(NGAYLAPHD) AS 'NAM', CONVERT(INT,SUM(GIAVON*SOLUONG)) AS 'TIENVON', CONVERT(INT,SUM(THANHTIENCUOICUNG)) AS 'TIENBAN',  CONVERT(INT,SUM(THANHTIENCUOICUNG) - SUM(GIAVON*SOLUONG)) AS 'TIENCHENHLECH' FROM HOADONBAN A,  CHITIETHDB B WHERE A.MAHDB = B.MAHDB GROUP BY YEAR(NGAYLAPHD)
    -- TRUY VẤN LẤY NĂM CAO NHẤT
    SELECT YEAR(NGAYLAPHD) AS 'NAM',CONVERT(INT,SUM(GIAVON*SOLUONG)) AS 'TIENVON',CONVERT(INT,SUM(THANHTIENCUOICUNG)) AS 'TIENBAN',CONVERT(INT,SUM(THANHTIENCUOICUNG) - SUM(GIAVON*SOLUONG)) AS 'TIENCHENHLECH' FROM HOADONBAN A,  CHITIETHDB B WHERE A.MAHDB = B.MAHDB GROUP BY YEAR(NGAYLAPHD) HAVING CONVERT(INT,SUM(THANHTIENCUOICUNG) - SUM(GIAVON*SOLUONG)) >=
(
    SELECT TOP 1 CONVERT(INT,SUM(THANHTIENCUOICUNG) - SUM(GIAVON*SOLUONG)) AS 'TIENCHENHLECH' FROM HOADONBAN A,  CHITIETHDB B WHERE A.MAHDB = B.MAHDB  GROUP BY YEAR(NGAYLAPHD)
	ORDER BY 'TIENCHENHLECH' DESC
)
--  truy vấn theo tháng trong năm
  SELECT MONTH(NGAYLAPHD) AS 'THANG',YEAR(NGAYLAPHD) AS 'NAM', CONVERT(INT,SUM(GIAVON*SOLUONG)) AS 'TIENVON', CONVERT(INT,SUM(THANHTIENCUOICUNG)) AS 'TIENBAN',  CONVERT(INT,SUM(THANHTIENCUOICUNG) - SUM(GIAVON*SOLUONG)) AS 'TIENCHENHLECH' FROM HOADONBAN A,  CHITIETHDB B WHERE A.MAHDB = B.MAHDB AND YEAR(NGAYLAPHD) = 2023  GROUP BY MONTH(NGAYLAPHD),YEAR(NGAYLAPHD)
  
  -- TRUY VẤN LẤY THÁNG CAO NHẤT
    SELECT MONTH(NGAYLAPHD) AS 'THANG',YEAR(NGAYLAPHD) AS 'NAM',CONVERT(INT,SUM(GIAVON*SOLUONG)) AS 'TIENVON',CONVERT(INT,SUM(THANHTIENCUOICUNG)) AS 'TIENBAN',CONVERT(INT,SUM(THANHTIENCUOICUNG) - SUM(GIAVON*SOLUONG)) AS 'TIENCHENHLECH' FROM HOADONBAN A,  CHITIETHDB B WHERE A.MAHDB = B.MAHDB AND YEAR(NGAYLAPHD)= 2023  GROUP BY MONTH(NGAYLAPHD),YEAR(NGAYLAPHD) HAVING CONVERT(INT,SUM(THANHTIENCUOICUNG) - SUM(GIAVON*SOLUONG)) >=
(
    SELECT TOP 1 CONVERT(INT,SUM(THANHTIENCUOICUNG) - SUM(GIAVON*SOLUONG)) AS 'TIENCHENHLECH' FROM HOADONBAN A,  CHITIETHDB B WHERE A.MAHDB = B.MAHDB AND YEAR(NGAYLAPHD)= 2023  GROUP BY MONTH(NGAYLAPHD),YEAR(NGAYLAPHD)
	ORDER BY 'TIENCHENHLECH' DESC
)
 -- TRUY VẤN THEO NGÀY TRONG THÁNG TRONG NĂM
   SELECT DAY(NGAYLAPHD) AS 'NGAY',MONTH(NGAYLAPHD) AS 'THANG',YEAR(NGAYLAPHD) AS 'NAM', CONVERT(INT,SUM(GIAVON*SOLUONG)) AS 'TIENVON', CONVERT(INT,SUM(THANHTIENCUOICUNG)) AS 'TIENBAN',  CONVERT(INT,SUM(THANHTIENCUOICUNG) - SUM(GIAVON*SOLUONG)) AS 'TIENCHENHLECH' FROM HOADONBAN A,  CHITIETHDB B WHERE A.MAHDB = B.MAHDB AND YEAR(NGAYLAPHD) = 2023 AND MONTH(NGAYLAPHD) = 2 GROUP BY DAY(NGAYLAPHD),MONTH(NGAYLAPHD),YEAR(NGAYLAPHD)
     -- TRUY VẤN LẤY NGÀY CAO NHẤT
    SELECT DAY(NGAYLAPHD) AS 'NGAY',MONTH(NGAYLAPHD) AS 'THANG',YEAR(NGAYLAPHD) AS 'NAM',CONVERT(INT,SUM(GIAVON*SOLUONG)) AS 'TIENVON',CONVERT(INT,SUM(THANHTIENCUOICUNG)) AS 'TIENBAN',CONVERT(INT,SUM(THANHTIENCUOICUNG) - SUM(GIAVON*SOLUONG)) AS 'TIENCHENHLECH' FROM HOADONBAN A,  CHITIETHDB B WHERE A.MAHDB = B.MAHDB AND YEAR(NGAYLAPHD) = 2023 AND MONTH(NGAYLAPHD) = 2 GROUP BY DAY(NGAYLAPHD),MONTH(NGAYLAPHD),YEAR(NGAYLAPHD) HAVING CONVERT(INT,SUM(THANHTIENCUOICUNG) - SUM(GIAVON*SOLUONG)) >=
(
    SELECT TOP 1 CONVERT(INT,SUM(THANHTIENCUOICUNG) - SUM(GIAVON*SOLUONG)) AS 'TIENCHENHLECH' FROM HOADONBAN A,  CHITIETHDB B WHERE A.MAHDB = B.MAHDB  AND YEAR(NGAYLAPHD) = 2023 AND MONTH(NGAYLAPHD) = 2  GROUP BY DAY(NGAYLAPHD)
	ORDER BY 'TIENCHENHLECH' DESC
)