USE [master]
GO
/****** Object:  Database [QUANLYQUANCAPHE]    Script Date: 4/16/2023 7:35:15 PM ******/
CREATE DATABASE [QUANLYQUANCAPHE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QUANLYQUANCAPHE', FILENAME = N'D:\HocTap\Winform_C#\CSDL\QUANLYQUANCAPHE.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QUANLYQUANCAPHE_log', FILENAME = N'D:\HocTap\Winform_C#\CSDL\QUANLYQUANCAPHE_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QUANLYQUANCAPHE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QUANLYQUANCAPHE]
GO
/****** Object:  UserDefinedFunction [dbo].[KIEMTRADANGNHAP]    Script Date: 4/16/2023 7:35:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[KIEMTRADANGNHAP](@manv varchar(5), @matkhau char(64))
RETURNS bit
AS
BEGIN
    -- Tạo biến tồn tại tài khoản bit
    DECLARE @TonTaiTaiKhoan bit
    SET @TonTaiTaiKhoan = 0
    -- Thực hiện truy vấn kiểm tra đăng nhập.
    IF EXISTS (SELECT * FROM NHANVIEN WHERE MANV = @manv AND MATKHAU = @matkhau)
        SET @TonTaiTaiKhoan = 1
    RETURN @TonTaiTaiKhoan
END
GO
/****** Object:  Table [dbo].[BAN]    Script Date: 4/16/2023 7:35:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BAN](
	[MABAN] [nvarchar](50) NOT NULL,
	[TENBAN] [nvarchar](10) NULL,
	[TRANGTHAI] [varchar](50) NULL,
 CONSTRAINT [PK_BAN] PRIMARY KEY CLUSTERED 
(
	[MABAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHITIETHDB]    Script Date: 4/16/2023 7:35:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETHDB](
	[MACTHD] [varchar](10) NOT NULL,
	[MAHDB] [varchar](5) NOT NULL,
	[MACTSP] [varchar](5) NOT NULL,
	[GIAVON] [money] NOT NULL,
	[GIABAN] [money] NULL,
	[GIABANSAUKHIGIAM] [money] NULL,
	[SOLUONG] [int] NULL,
	[TRANGTHAI] [nvarchar](20) NOT NULL CONSTRAINT [DF__CHITIETHD__TRANG__267ABA7A]  DEFAULT ((1)),
 CONSTRAINT [PK_CTHDB] PRIMARY KEY CLUSTERED 
(
	[MAHDB] ASC,
	[MACTSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHITIETHDN]    Script Date: 4/16/2023 7:35:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETHDN](
	[MACTHDN] [varchar](50) NOT NULL,
	[MAHDN] [varchar](5) NOT NULL,
	[MACTSP] [varchar](5) NOT NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [money] NULL,
	[TRANGTHAI] [nvarchar](20) NULL,
 CONSTRAINT [PK_CTHDN] PRIMARY KEY CLUSTERED 
(
	[MAHDN] ASC,
	[MACTSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHITIETKM]    Script Date: 4/16/2023 7:35:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETKM](
	[MACTKM] [varchar](15) NOT NULL,
	[MACTHDB] [varchar](20) NOT NULL,
	[MAKM] [varchar](10) NOT NULL,
	[GIATIENSAUKHIGIAM] [money] NULL,
 CONSTRAINT [PK_CTKM] PRIMARY KEY CLUSTERED 
(
	[MACTHDB] ASC,
	[MAKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHITIETSANPHAM]    Script Date: 4/16/2023 7:35:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETSANPHAM](
	[MACTSP] [varchar](5) NOT NULL,
	[MASP] [varchar](5) NOT NULL,
	[MASIZE] [char](1) NOT NULL,
	[SOLUONG] [int] NULL,
	[MOTA] [nvarchar](255) NULL,
	[GIABAN] [money] NULL,
	[GIAVON] [money] NULL,
	[TRANGTHAI] [nvarchar](20) NULL CONSTRAINT [DF__CHITIETSA__TRANG__276EDEB3]  DEFAULT ((1)),
 CONSTRAINT [PK_CTSP] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC,
	[MASIZE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DATBAN]    Script Date: 4/16/2023 7:35:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DATBAN](
	[MABAN] [nvarchar](50) NOT NULL,
	[MAKH] [varchar](5) NOT NULL,
	[NGAYDAT] [datetime] NULL,
	[TRANGTHAI] [varchar](50) NULL,
	[MADATBAN] [varchar](50) NULL,
 CONSTRAINT [PK_DB] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC,
	[MABAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOADONBAN]    Script Date: 4/16/2023 7:35:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADONBAN](
	[MAHDB] [varchar](5) NOT NULL,
	[MAKH] [varchar](5) NULL,
	[TONGTIENTHANHTOAN] [money] NULL,
	[MANV_LAP] [varchar](5) NULL,
	[NGAYLAPHD] [datetime] NULL,
	[TRANGTHAI] [nvarchar](20) NULL CONSTRAINT [DF__HOADONBAN__TRANG__286302EC]  DEFAULT ((1)),
	[GHICHU] [nvarchar](255) NULL,
 CONSTRAINT [PK__HOADONBA__78C57A9BF50A65FE] PRIMARY KEY CLUSTERED 
(
	[MAHDB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOADONNHAP]    Script Date: 4/16/2023 7:35:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADONNHAP](
	[MAHDN] [varchar](5) NOT NULL,
	[NGAYLAP] [datetime] NOT NULL,
	[MANV_LAP] [varchar](5) NOT NULL,
	[MANCC] [varchar](3) NULL,
	[TRANGTHAI] [nvarchar](20) NULL,
	[THANHTIEN] [money] NULL,
 CONSTRAINT [PK__HOADONNH__78C57AAFCB73AEEF] PRIMARY KEY CLUSTERED 
(
	[MAHDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 4/16/2023 7:35:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [varchar](5) NOT NULL,
	[TENKH] [nvarchar](255) NULL,
	[DIACHI] [nvarchar](255) NULL,
	[SDT] [char](10) NULL,
	[NGAYSINH] [datetime] NULL,
	[TRANGTHAI] [nvarchar](50) NULL CONSTRAINT [DF__KHACHHANG__TRANG__58D1301D]  DEFAULT ((1)),
 CONSTRAINT [PK__KHACHHAN__603F592C437B2FCC] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHUYENMAI]    Script Date: 4/16/2023 7:35:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHUYENMAI](
	[MAKM] [varchar](10) NOT NULL,
	[LOAIKHUYENMAI] [nvarchar](50) NULL,
	[TENKM] [nvarchar](50) NULL,
	[NGAYBATDAU] [datetime] NULL CONSTRAINT [DF__KHUYENMAI__NGAYT__2A4B4B5E]  DEFAULT (getdate()),
	[NGAYHETHAN] [datetime] NULL,
	[GIAMTHEOPHANTRAM] [float] NULL,
	[GIAMTIENTRUCTIEP] [money] NULL,
	[SUAGIA] [money] NULL,
	[TRANGTHAI] [nvarchar](50) NULL CONSTRAINT [DF__KHUYENMAI__TRANG__2B3F6F97]  DEFAULT ((0)),
 CONSTRAINT [PK__KHUYENMA__603F592B24047972] PRIMARY KEY CLUSTERED 
(
	[MAKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LICHSUDANGNHAP]    Script Date: 4/16/2023 7:35:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LICHSUDANGNHAP](
	[MANV] [varchar](5) NOT NULL,
	[NGAYGIODANGNHAP] [datetime] NOT NULL,
	[NGAYGIODANGXUAT] [datetime] NULL,
	[TRANGTHAI] [nvarchar](20) NULL,
	[SUADOIMATKHAU] [bit] NULL,
 CONSTRAINT [PK_LICHSUDANGNHAP] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC,
	[NGAYGIODANGNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAISP]    Script Date: 4/16/2023 7:35:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAISP](
	[MALOAI] [varchar](50) NOT NULL,
	[TENLOAISP] [nvarchar](50) NULL,
	[TRANGTHAI] [nvarchar](20) NULL,
	[MOTA] [nvarchar](255) NULL,
 CONSTRAINT [PK_LOAISP] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHACC]    Script Date: 4/16/2023 7:35:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHACC](
	[MANCC] [varchar](3) NOT NULL,
	[TENNCC] [nvarchar](50) NULL,
	[SDT] [char](10) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[MOTA] [nvarchar](200) NULL,
	[TRANGTHAI] [nvarchar](50) NULL CONSTRAINT [DF__NHACC__TRANGTHAI__2D27B809]  DEFAULT ((1)),
 CONSTRAINT [PK__NHACC__7ABEA582FAACDC62] PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 4/16/2023 7:35:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [varchar](5) NOT NULL,
	[TENNV] [nvarchar](255) NULL,
	[MATKHAU] [char](64) NULL,
	[DIACHI] [nvarchar](255) NULL,
	[SDT] [char](10) NULL,
	[CHUCVU] [nvarchar](255) NULL,
	[NGAYVAOLAM] [datetime] NULL,
	[GIOITINH] [nvarchar](3) NULL,
	[NGAYSINH] [datetime] NULL,
	[TRANGTHAI] [nvarchar](50) NULL CONSTRAINT [DF__NHANVIEN__TRANGT__2E1BDC42]  DEFAULT ((1)),
 CONSTRAINT [PK__NHANVIEN__603F5114F0996120] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 4/16/2023 7:35:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [varchar](5) NOT NULL,
	[TENSP] [nvarchar](255) NULL,
	[LINK_IMG] [varchar](255) NULL,
	[DONVITINH] [nvarchar](25) NULL,
	[MOTA] [nvarchar](255) NULL,
	[TRANGTHAI] [nvarchar](20) NULL CONSTRAINT [DF__SANPHAM__TRANGTH__2F10007B]  DEFAULT ((1)),
	[MANCC] [char](3) NULL,
 CONSTRAINT [PK__SANPHAM__60228A3200703CE7] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SIZE]    Script Date: 4/16/2023 7:35:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SIZE](
	[MASIZE] [char](1) NOT NULL,
	[MOTA] [nvarchar](255) NULL,
	[TRANGTHAI] [bit] NOT NULL,
 CONSTRAINT [PK_SIZE] PRIMARY KEY CLUSTERED 
(
	[MASIZE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[BAN] ([MABAN], [TENBAN], [TRANGTHAI]) VALUES (N'01', N'Bàn 1', N'1')
INSERT [dbo].[BAN] ([MABAN], [TENBAN], [TRANGTHAI]) VALUES (N'07', N'Bàn 07', N'DANG SU DUNG')
INSERT [dbo].[BAN] ([MABAN], [TENBAN], [TRANGTHAI]) VALUES (N'08', N'Bàn 08', N'TRONG')
INSERT [dbo].[CHITIETHDB] ([MACTHD], [MAHDB], [MACTSP], [GIAVON], [GIABAN], [GIABANSAUKHIGIAM], [SOLUONG], [TRANGTHAI]) VALUES (N'HD1.01.L', N'HD1', N'01.L', 10000.0000, 15000.0000, NULL, 20, N'Đã thanh toán')
INSERT [dbo].[CHITIETHDB] ([MACTHD], [MAHDB], [MACTSP], [GIAVON], [GIABAN], [GIABANSAUKHIGIAM], [SOLUONG], [TRANGTHAI]) VALUES (N'HD1.01.M', N'HD1', N'01.M', 10000.0000, 15000.0000, NULL, 17, N'Đã thanh toán')
INSERT [dbo].[CHITIETHDB] ([MACTHD], [MAHDB], [MACTSP], [GIAVON], [GIABAN], [GIABANSAUKHIGIAM], [SOLUONG], [TRANGTHAI]) VALUES (N'HD2.03.M', N'HD2', N'03.M', 20000.0000, 50000.0000, NULL, 50, N'Đã thanh toán')
INSERT [dbo].[CHITIETKM] ([MACTKM], [MACTHDB], [MAKM], [GIATIENSAUKHIGIAM]) VALUES (N'HD1.01.L.KM2', N'HD1.01.L', N'KM2', 10000.0000)
INSERT [dbo].[CHITIETKM] ([MACTKM], [MACTHDB], [MAKM], [GIATIENSAUKHIGIAM]) VALUES (N'HD1.01.M.KM2', N'HD1.01.M', N'KM1', 10000.0000)
INSERT [dbo].[CHITIETSANPHAM] ([MACTSP], [MASP], [MASIZE], [SOLUONG], [MOTA], [GIABAN], [GIAVON], [TRANGTHAI]) VALUES (N'01.L', N'01', N'L', 1000, N'Sản phẩm 01 Size L ...', 45000.0000, 35000.0000, N'Hoạt động')
INSERT [dbo].[CHITIETSANPHAM] ([MACTSP], [MASP], [MASIZE], [SOLUONG], [MOTA], [GIABAN], [GIAVON], [TRANGTHAI]) VALUES (N'01.M', N'01', N'M', 1000, N'Sản phẩm 01 Size M', 50000.0000, 35000.0000, N'Không hoạt động')
INSERT [dbo].[CHITIETSANPHAM] ([MACTSP], [MASP], [MASIZE], [SOLUONG], [MOTA], [GIABAN], [GIAVON], [TRANGTHAI]) VALUES (N'01.S', N'01', N'S', 1000, N'Sản phẩm 01 Size S', 40000.0000, 30000.0000, N'Hoạt động')
INSERT [dbo].[HOADONBAN] ([MAHDB], [MAKH], [TONGTIENTHANHTOAN], [MANV_LAP], [NGAYLAPHD], [TRANGTHAI], [GHICHU]) VALUES (N'HD1', N'KH2', 45000.0000, N'NV2', CAST(N'2023-09-05 00:00:00.000' AS DateTime), N'Đã thanh toán', NULL)
INSERT [dbo].[HOADONBAN] ([MAHDB], [MAKH], [TONGTIENTHANHTOAN], [MANV_LAP], [NGAYLAPHD], [TRANGTHAI], [GHICHU]) VALUES (N'HD2', N'KH1', 55000.0000, N'NV1', CAST(N'2023-05-19 00:00:00.000' AS DateTime), N'Đã thanh toán', NULL)
INSERT [dbo].[HOADONBAN] ([MAHDB], [MAKH], [TONGTIENTHANHTOAN], [MANV_LAP], [NGAYLAPHD], [TRANGTHAI], [GHICHU]) VALUES (N'HD3', N'KH2', 0.0000, N'NV3', CAST(N'2023-04-11 23:19:33.000' AS DateTime), N'Chưa thanh toán', N'123')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIACHI], [SDT], [NGAYSINH], [TRANGTHAI]) VALUES (N'KH1', N'Nguyễn Thị F', N'369 Đường Số 6', N'0918765432', CAST(N'1992-06-06 00:00:00.000' AS DateTime), N'Hoạt động')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIACHI], [SDT], [NGAYSINH], [TRANGTHAI]) VALUES (N'KH2', N'Phạm Văn J', N'123 Đường Sáng', N'0987654321', CAST(N'1985-10-10 00:00:00.000' AS DateTime), N'Không hoạt động')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIACHI], [SDT], [NGAYSINH], [TRANGTHAI]) VALUES (N'KH3', N'Trần Văn G', N'987 Đường Cao Tốc', N'0987654321', CAST(N'2001-07-07 00:00:00.000' AS DateTime), N'Không hoạt động')
INSERT [dbo].[KHUYENMAI] ([MAKM], [LOAIKHUYENMAI], [TENKM], [NGAYBATDAU], [NGAYHETHAN], [GIAMTHEOPHANTRAM], [GIAMTIENTRUCTIEP], [SUAGIA], [TRANGTHAI]) VALUES (N'KM1', N'Giảm giá trực tiếp', N'Khuyến mãi hè', CAST(N'2022-06-01 00:00:00.000' AS DateTime), CAST(N'2022-08-31 00:00:00.000' AS DateTime), NULL, 4000.0000, NULL, N'Hoạt động')
INSERT [dbo].[KHUYENMAI] ([MAKM], [LOAIKHUYENMAI], [TENKM], [NGAYBATDAU], [NGAYHETHAN], [GIAMTHEOPHANTRAM], [GIAMTIENTRUCTIEP], [SUAGIA], [TRANGTHAI]) VALUES (N'KM2', N'Sửa giá', N'Cà phê chỉ còn 5k', CAST(N'2022-05-01 00:00:00.000' AS DateTime), CAST(N'2022-05-31 00:00:00.000' AS DateTime), NULL, NULL, 1000.0000, N'Hoạt động')
INSERT [dbo].[KHUYENMAI] ([MAKM], [LOAIKHUYENMAI], [TENKM], [NGAYBATDAU], [NGAYHETHAN], [GIAMTHEOPHANTRAM], [GIAMTIENTRUCTIEP], [SUAGIA], [TRANGTHAI]) VALUES (N'KM3', N'Giảm theo phầm trăm', N'Khuyến mãi mùa đông', CAST(N'2022-12-01 00:00:00.000' AS DateTime), CAST(N'2023-01-31 00:00:00.000' AS DateTime), 0.15, NULL, NULL, N'Hoạt động')
INSERT [dbo].[LICHSUDANGNHAP] ([MANV], [NGAYGIODANGNHAP], [NGAYGIODANGXUAT], [TRANGTHAI], [SUADOIMATKHAU]) VALUES (N'NV1', CAST(N'2023-04-15 11:58:29.443' AS DateTime), NULL, N'', 0)
INSERT [dbo].[LICHSUDANGNHAP] ([MANV], [NGAYGIODANGNHAP], [NGAYGIODANGXUAT], [TRANGTHAI], [SUADOIMATKHAU]) VALUES (N'NV1', CAST(N'2023-04-15 12:06:03.537' AS DateTime), NULL, N'', 0)
INSERT [dbo].[LICHSUDANGNHAP] ([MANV], [NGAYGIODANGNHAP], [NGAYGIODANGXUAT], [TRANGTHAI], [SUADOIMATKHAU]) VALUES (N'NV1', CAST(N'2023-04-15 12:55:40.663' AS DateTime), NULL, N'', 0)
INSERT [dbo].[LOAISP] ([MALOAI], [TENLOAISP], [TRANGTHAI], [MOTA]) VALUES (N'L01', N'Trà', N'Hoạt động', NULL)
INSERT [dbo].[LOAISP] ([MALOAI], [TENLOAISP], [TRANGTHAI], [MOTA]) VALUES (N'L02', N'Cà phê', N'Không hoạt động', NULL)
INSERT [dbo].[LOAISP] ([MALOAI], [TENLOAISP], [TRANGTHAI], [MOTA]) VALUES (N'L03', N'Nước ép trái cây', N'Hoạt động', NULL)
INSERT [dbo].[NHACC] ([MANCC], [TENNCC], [SDT], [DIACHI], [MOTA], [TRANGTHAI]) VALUES (N'001', N'Nhà cung cấp A', N'0987654321', N'Hà Nội', N'Cung cấp thức uống giải khát', N'Hoạt động')
INSERT [dbo].[NHACC] ([MANCC], [TENNCC], [SDT], [DIACHI], [MOTA], [TRANGTHAI]) VALUES (N'002', N'Nhà cung cấp B', N'0123456789', N'TP. HCM', N'Cung cấp nước ngọt', N'Hoạt động')
INSERT [dbo].[NHACC] ([MANCC], [TENNCC], [SDT], [DIACHI], [MOTA], [TRANGTHAI]) VALUES (N'003', N'Nhà cung cấp C', N'0912345678', N'Đà Nẵng', N'Cung cấp trà sữa', N'Không hoạt động')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [MATKHAU], [DIACHI], [SDT], [CHUCVU], [NGAYVAOLAM], [GIOITINH], [NGAYSINH], [TRANGTHAI]) VALUES (N'NV1', N'Nguyễn Văn A', N'20c0b3af1da4cfc1bf40b880bdd9dca4fdbfe7070d17f20b7b4184d5df3861b5', N'123 Đường Xã', N'0901234567', N'Quản lý', CAST(N'2015-01-01 00:00:00.000' AS DateTime), N'Nam', CAST(N'1980-01-01 00:00:00.000' AS DateTime), N'Đang làm')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [MATKHAU], [DIACHI], [SDT], [CHUCVU], [NGAYVAOLAM], [GIOITINH], [NGAYSINH], [TRANGTHAI]) VALUES (N'NV2', N'Trần Thị B', N'e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855', N'456 Đường Thành', N'0909876543', N'Nhân viên bán hàng', CAST(N'2016-02-02 00:00:00.000' AS DateTime), N'Nữ', CAST(N'1990-02-02 00:00:00.000' AS DateTime), N'Đang làm')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [MATKHAU], [DIACHI], [SDT], [CHUCVU], [NGAYVAOLAM], [GIOITINH], [NGAYSINH], [TRANGTHAI]) VALUES (N'NV3', N'Lê Minh C', N'20c0b3af1da4cfc1bf40b880bdd9dca4fdbfe7070d17f20b7b4184d5df3861b5', N'789 Đường Mới', N'0987654321', N'Nhân viên phục vụ', CAST(N'2017-03-03 00:00:00.000' AS DateTime), N'Nam', CAST(N'1985-03-03 00:00:00.000' AS DateTime), N'Đang làm')
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [LINK_IMG], [DONVITINH], [MOTA], [TRANGTHAI], [MANCC]) VALUES (N'01', N'Trà sữa truyền thống', N'D:\HocTap\Winform_C#\9_12_QuanLyQuanCaPhe\image\trasua.jpg', N'ly', N'Trà sữa đen dai và thơm ngon kèm với bột béo 123 ...', N'Không hoạt động', N'001')
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [LINK_IMG], [DONVITINH], [MOTA], [TRANGTHAI], [MANCC]) VALUES (N'02', N'Coca Cola 123', N'D:\HocTap\Winform_C#\9_12_QuanLyQuanCaPhe\image\cocacola.png', N'lon', N'Nước giải khát có ga ...', N'Hoạt động', N'001')
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [LINK_IMG], [DONVITINH], [MOTA], [TRANGTHAI], [MANCC]) VALUES (N'03', N'Pepsi', N'D:\HocTap\Winform_C#\9_12_QuanLyQuanCaPhe\image\pepsi.jpg', N'ly', N'Nước giải khát có ga ', N'Hoạt động', N'001')
INSERT [dbo].[SIZE] ([MASIZE], [MOTA], [TRANGTHAI]) VALUES (N'L', N'Size lớn', 1)
INSERT [dbo].[SIZE] ([MASIZE], [MOTA], [TRANGTHAI]) VALUES (N'M', N'Size trung bình', 1)
INSERT [dbo].[SIZE] ([MASIZE], [MOTA], [TRANGTHAI]) VALUES (N'S', N'Size nhỏ', 1)
ALTER TABLE [dbo].[CHITIETHDB]  WITH CHECK ADD  CONSTRAINT [FK__CHITIETHD__MAHDB__76969D2E] FOREIGN KEY([MAHDB])
REFERENCES [dbo].[HOADONBAN] ([MAHDB])
GO
ALTER TABLE [dbo].[CHITIETHDB] CHECK CONSTRAINT [FK__CHITIETHD__MAHDB__76969D2E]
GO
ALTER TABLE [dbo].[CHITIETKM]  WITH CHECK ADD  CONSTRAINT [FK__CHITIETKM__MAKM__6EF57B66] FOREIGN KEY([MAKM])
REFERENCES [dbo].[KHUYENMAI] ([MAKM])
GO
ALTER TABLE [dbo].[CHITIETKM] CHECK CONSTRAINT [FK__CHITIETKM__MAKM__6EF57B66]
GO
ALTER TABLE [dbo].[CHITIETSANPHAM]  WITH CHECK ADD  CONSTRAINT [FK__CHITIETSA__MASIZ__6E01572D] FOREIGN KEY([MASIZE])
REFERENCES [dbo].[SIZE] ([MASIZE])
GO
ALTER TABLE [dbo].[CHITIETSANPHAM] CHECK CONSTRAINT [FK__CHITIETSA__MASIZ__6E01572D]
GO
ALTER TABLE [dbo].[CHITIETSANPHAM]  WITH CHECK ADD  CONSTRAINT [FK__CHITIETSAN__MASP__7E37BEF6] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CHITIETSANPHAM] CHECK CONSTRAINT [FK__CHITIETSAN__MASP__7E37BEF6]
GO
ALTER TABLE [dbo].[DATBAN]  WITH CHECK ADD FOREIGN KEY([MABAN])
REFERENCES [dbo].[BAN] ([MABAN])
GO
ALTER TABLE [dbo].[DATBAN]  WITH CHECK ADD FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[HOADONBAN]  WITH CHECK ADD  CONSTRAINT [FK__HOADONBAN__MAKH__5D95E53A] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[HOADONBAN] CHECK CONSTRAINT [FK__HOADONBAN__MAKH__5D95E53A]
GO
ALTER TABLE [dbo].[HOADONBAN]  WITH CHECK ADD  CONSTRAINT [FK__HOADONBAN__MANV___68487DD7] FOREIGN KEY([MANV_LAP])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADONBAN] CHECK CONSTRAINT [FK__HOADONBAN__MANV___68487DD7]
GO
ALTER TABLE [dbo].[HOADONBAN]  WITH CHECK ADD  CONSTRAINT [FK_HOADONBAN_HOADONBAN] FOREIGN KEY([MAHDB])
REFERENCES [dbo].[HOADONBAN] ([MAHDB])
GO
ALTER TABLE [dbo].[HOADONBAN] CHECK CONSTRAINT [FK_HOADONBAN_HOADONBAN]
GO
ALTER TABLE [dbo].[HOADONNHAP]  WITH CHECK ADD FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACC] ([MANCC])
GO
ALTER TABLE [dbo].[HOADONNHAP]  WITH CHECK ADD  CONSTRAINT [FK__HOADONNHA__MANV___3B75D760] FOREIGN KEY([MANV_LAP])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADONNHAP] CHECK CONSTRAINT [FK__HOADONNHA__MANV___3B75D760]
GO
/****** Object:  StoredProcedure [dbo].[THEMDANGNHAP]    Script Date: 4/16/2023 7:35:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[THEMDANGNHAP](@manv varchar(5))
as 
	begin 
			INSERT INTO LICHSUDANGNHAP VALUES (@manv,getdate(),null,'',0)
	end
GO
USE [master]
GO
