USE [master]
GO
/****** Object:  Database [QUANLYQUANCAPHE]    Script Date: 4/16/2023 10:27:47 PM ******/
CREATE DATABASE [QUANLYQUANCAPHE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QUANLYQUANCAPHE', FILENAME = N'D:\HocTap\Winform_C#\CSDL\QUANLYQUANCAPHE.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QUANLYQUANCAPHE_log', FILENAME = N'D:\HocTap\Winform_C#\CSDL\QUANLYQUANCAPHE_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QUANLYQUANCAPHE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QUANLYQUANCAPHE]
GO
/****** Object:  UserDefinedFunction [dbo].[KIEMTRADANGNHAP]    Script Date: 4/16/2023 10:27:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[KIEMTRADANGNHAP](@manv varchar(5), @matkhau char(64))
RETURNS bit
AS
BEGIN
    -- Tạo biến tồn tại tài khoản bit
    DECLARE @TonTaiTaiKhoan bit
    SET @TonTaiTaiKhoan = 0
    -- Thực hiện truy vấn kiểm tra đăng nhập.
    IF EXISTS (SELECT * FROM NHANVIEN WHERE MANV = @manv AND MATKHAU = @matkhau)
        SET @TonTaiTaiKhoan = 1
    RETURN @TonTaiTaiKhoan
END

GO
/****** Object:  Table [dbo].[BAN]    Script Date: 4/16/2023 10:27:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BAN](
	[MABAN] [nvarchar](50) NOT NULL,
	[TENBAN] [nvarchar](10) NULL,
	[TRANGTHAI] [varchar](50) NULL,
 CONSTRAINT [PK_BAN] PRIMARY KEY CLUSTERED 
(
	[MABAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHITIETHDB]    Script Date: 4/16/2023 10:27:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETHDB](
	[MAHDB] [varchar](5) NOT NULL,
	[MASP] [varchar](7) NOT NULL,
	[MASIZE] [char](1) NOT NULL,
	[GIAVON] [money] NOT NULL,
	[MAKM] [varchar](10) NULL,
	[GIAGIAM] [money] NULL,
	[GIABAN] [money] NOT NULL,
	[SOLUONG] [int] NULL,
	[TRANGTHAI] [nvarchar](20) NOT NULL CONSTRAINT [DF__CHITIETHD__TRANG__267ABA7A]  DEFAULT ((1))
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHITIETHDN]    Script Date: 4/16/2023 10:27:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETHDN](
	[MAHDN] [varchar](5) NOT NULL,
	[MASP] [varchar](7) NOT NULL,
	[MASIZE] [char](1) NOT NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [money] NULL,
	[TONG] [money] NULL,
	[TRANGTHAI] [nvarchar](20) NULL,
 CONSTRAINT [PK_CTHDN] PRIMARY KEY CLUSTERED 
(
	[MAHDN] ASC,
	[MASP] ASC,
	[MASIZE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHITIETKM]    Script Date: 4/16/2023 10:27:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETKM](
	[MASP] [varchar](7) NOT NULL,
	[MASIZE] [char](1) NOT NULL,
	[MAKM] [varchar](10) NOT NULL,
	[PHANTRAMGIAM] [float] NULL,
	[SOTIENGIAMTOIDA] [money] NULL,
	[TRANGTHAI] [nvarchar](50) NULL,
	[MACTSP] [nchar](10) NULL,
 CONSTRAINT [PK_CTKM] PRIMARY KEY CLUSTERED 
(
	[MAKM] ASC,
	[MASP] ASC,
	[MASIZE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHITIETSANPHAM]    Script Date: 4/16/2023 10:27:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETSANPHAM](
	[MACTSP] [varchar](9) NOT NULL,
	[MASP] [varchar](7) NOT NULL,
	[MASIZE] [char](1) NOT NULL,
	[SOLUONG] [int] NULL,
	[MOTA] [nvarchar](255) NULL,
	[GIABAN] [money] NULL,
	[GIAVON] [money] NULL,
	[TRANGTHAI] [nvarchar](20) NULL CONSTRAINT [DF__CHITIETSA__TRANG__276EDEB3]  DEFAULT ((1)),
 CONSTRAINT [PK_CHITIETSANPHAM] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC,
	[MASIZE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DATBAN]    Script Date: 4/16/2023 10:27:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DATBAN](
	[MABAN] [nvarchar](50) NOT NULL,
	[MAKH] [varchar](5) NOT NULL,
	[NGAYDAT] [datetime] NULL,
	[TRANGTHAI] [varchar](50) NULL,
	[MADATBAN] [varchar](50) NULL,
 CONSTRAINT [PK_DB] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC,
	[MABAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOADONBAN]    Script Date: 4/16/2023 10:27:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADONBAN](
	[MAHDB] [varchar](5) NOT NULL,
	[MAKH] [varchar](5) NULL,
	[TONGTIENTHANHTOAN] [money] NULL,
	[MANV_LAP] [varchar](5) NULL,
	[NGAYLAPHD] [datetime] NULL,
	[TRANGTHAI] [nvarchar](20) NULL CONSTRAINT [DF__HOADONBAN__TRANG__286302EC]  DEFAULT ((1)),
	[GHICHU] [nvarchar](255) NULL,
 CONSTRAINT [PK__HOADONBA__78C57A9BF50A65FE] PRIMARY KEY CLUSTERED 
(
	[MAHDB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOADONNHAP]    Script Date: 4/16/2023 10:27:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADONNHAP](
	[MAHDN] [varchar](5) NOT NULL,
	[NGAYLAP] [datetime] NOT NULL,
	[MANV_LAP] [varchar](5) NOT NULL,
	[MANCC] [varchar](3) NULL,
	[TRANGTHAI] [nvarchar](20) NULL,
	[THANHTIEN] [money] NULL,
 CONSTRAINT [PK__HOADONNH__78C57AAFCB73AEEF] PRIMARY KEY CLUSTERED 
(
	[MAHDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 4/16/2023 10:27:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [varchar](5) NOT NULL,
	[TENKH] [nvarchar](255) NULL,
	[DIACHI] [nvarchar](255) NULL,
	[SDT] [char](10) NULL,
	[NGAYSINH] [datetime] NULL,
	[TRANGTHAI] [nvarchar](50) NULL CONSTRAINT [DF__KHACHHANG__TRANG__58D1301D]  DEFAULT ((1)),
 CONSTRAINT [PK__KHACHHAN__603F592C437B2FCC] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHUYENMAI]    Script Date: 4/16/2023 10:27:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHUYENMAI](
	[MAKM] [varchar](10) NOT NULL,
	[TENKM] [nvarchar](50) NULL,
	[NGAYBATDAU] [datetime] NULL CONSTRAINT [DF__KHUYENMAI__NGAYT__2A4B4B5E]  DEFAULT (getdate()),
	[NGAYHETHAN] [datetime] NULL,
	[TRANGTHAI] [nvarchar](50) NULL CONSTRAINT [DF__KHUYENMAI__TRANG__2B3F6F97]  DEFAULT ((0)),
 CONSTRAINT [PK__KHUYENMA__603F592B24047972] PRIMARY KEY CLUSTERED 
(
	[MAKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LICHSUDANGNHAP]    Script Date: 4/16/2023 10:27:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LICHSUDANGNHAP](
	[MANV] [varchar](5) NOT NULL,
	[NGAYGIODANGNHAP] [datetime] NOT NULL,
	[NGAYGIODANGXUAT] [datetime] NULL,
	[TRANGTHAI] [nvarchar](20) NULL,
	[SUADOIMATKHAU] [bit] NULL,
 CONSTRAINT [PK_LICHSUDANGNHAP] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC,
	[NGAYGIODANGNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAISP]    Script Date: 4/16/2023 10:27:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAISP](
	[MALOAISP] [varchar](5) NOT NULL,
	[TENLOAISP] [nvarchar](50) NULL,
	[TRANGTHAI] [nvarchar](50) NULL,
 CONSTRAINT [PK_LOAISP] PRIMARY KEY CLUSTERED 
(
	[MALOAISP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHACC]    Script Date: 4/16/2023 10:27:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHACC](
	[MANCC] [varchar](3) NOT NULL,
	[TENNCC] [nvarchar](50) NULL,
	[SDT] [char](10) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[MOTA] [nvarchar](200) NULL,
	[TRANGTHAI] [nvarchar](50) NULL CONSTRAINT [DF__NHACC__TRANGTHAI__2D27B809]  DEFAULT ((1)),
 CONSTRAINT [PK__NHACC__7ABEA582FAACDC62] PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 4/16/2023 10:27:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [varchar](5) NOT NULL,
	[TENNV] [nvarchar](255) NULL,
	[DIACHI] [nvarchar](255) NULL,
	[SDT] [char](10) NULL,
	[CHUCVU] [nvarchar](255) NULL,
	[NGAYVAOLAM] [datetime] NULL,
	[GIOITINH] [nvarchar](3) NULL,
	[NGAYSINH] [datetime] NULL,
	[TRANGTHAI] [nvarchar](50) NULL CONSTRAINT [DF__NHANVIEN__TRANGT__2E1BDC42]  DEFAULT ((1)),
	[MATKHAU] [char](64) NULL,
 CONSTRAINT [PK__NHANVIEN__603F5114F0996120] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 4/16/2023 10:27:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [varchar](7) NOT NULL,
	[TENSP] [nvarchar](255) NULL,
	[LINK_IMG] [varchar](255) NULL,
	[DONVITINH] [nvarchar](25) NULL,
	[MOTA] [nvarchar](255) NULL,
	[TRANGTHAI] [nvarchar](20) NULL CONSTRAINT [DF__SANPHAM__TRANGTH__2F10007B]  DEFAULT ((1)),
	[MANCC] [char](3) NULL,
 CONSTRAINT [PK__SANPHAM__60228A3200703CE7] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SIZE]    Script Date: 4/16/2023 10:27:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SIZE](
	[MASIZE] [char](1) NOT NULL,
	[MOTA] [nvarchar](255) NULL,
	[TRANGTHAI] [bit] NOT NULL,
 CONSTRAINT [PK_SIZE] PRIMARY KEY CLUSTERED 
(
	[MASIZE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[BAN] ([MABAN], [TENBAN], [TRANGTHAI]) VALUES (N'01', N'Bàn 1', N'1')
INSERT [dbo].[BAN] ([MABAN], [TENBAN], [TRANGTHAI]) VALUES (N'07', N'Bàn 07', N'DANG SU DUNG')
INSERT [dbo].[BAN] ([MABAN], [TENBAN], [TRANGTHAI]) VALUES (N'08', N'Bàn 08', N'TRONG')
INSERT [dbo].[CHITIETHDB] ([MAHDB], [MASP], [MASIZE], [GIAVON], [MAKM], [GIAGIAM], [GIABAN], [SOLUONG], [TRANGTHAI]) VALUES (N'HD1', N'01', N'L', 3000.0000, NULL, NULL, 5000.0000, 34, N'Đã thanh toán')
INSERT [dbo].[CHITIETHDB] ([MAHDB], [MASP], [MASIZE], [GIAVON], [MAKM], [GIAGIAM], [GIABAN], [SOLUONG], [TRANGTHAI]) VALUES (N'HD1', N'01', N'S', 5000.0000, NULL, NULL, 90000.0000, 443, N'Đã thanh toán')
INSERT [dbo].[CHITIETHDB] ([MAHDB], [MASP], [MASIZE], [GIAVON], [MAKM], [GIAGIAM], [GIABAN], [SOLUONG], [TRANGTHAI]) VALUES (N'HD1', N'03', N'a', 6000.0000, NULL, NULL, 70000.0000, 322, N'Đã thanh toán')
INSERT [dbo].[CHITIETHDN] ([MAHDN], [MASP], [MASIZE], [SOLUONG], [DONGIA], [TONG], [TRANGTHAI]) VALUES (N'HDN1', N'01', N'M', 10, 35000.0000, 350000.0000, N'Không dư hại')
INSERT [dbo].[CHITIETHDN] ([MAHDN], [MASP], [MASIZE], [SOLUONG], [DONGIA], [TONG], [TRANGTHAI]) VALUES (N'HDN2', N'02', N'S', 10, 30000.0000, 300000.0000, N'Không dư hại')
INSERT [dbo].[CHITIETHDN] ([MAHDN], [MASP], [MASIZE], [SOLUONG], [DONGIA], [TONG], [TRANGTHAI]) VALUES (N'HDN3', N'03', N'L', 10, 40000.0000, 400000.0000, N'Không dư hại')
INSERT [dbo].[CHITIETKM] ([MASP], [MASIZE], [MAKM], [PHANTRAMGIAM], [SOTIENGIAMTOIDA], [TRANGTHAI], [MACTSP]) VALUES (N'01', N'L', N'KM1', 5, 2250.0000, N'Hoạt động', NULL)
INSERT [dbo].[CHITIETKM] ([MASP], [MASIZE], [MAKM], [PHANTRAMGIAM], [SOTIENGIAMTOIDA], [TRANGTHAI], [MACTSP]) VALUES (N'02', N'L', N'KM3', 25, 15000.0000, N'Hoạt động', NULL)
INSERT [dbo].[CHITIETKM] ([MASP], [MASIZE], [MAKM], [PHANTRAMGIAM], [SOTIENGIAMTOIDA], [TRANGTHAI], [MACTSP]) VALUES (N'02', N'M', N'KM3', 20, 10000.0000, N'Hoạt động', NULL)
INSERT [dbo].[CHITIETSANPHAM] ([MACTSP], [MASP], [MASIZE], [SOLUONG], [MOTA], [GIABAN], [GIAVON], [TRANGTHAI]) VALUES (N'01.L', N'01', N'L', 1000, N'Sản phẩm 01 Size L ...', 45000.0000, 35000.0000, N'Hoạt động')
INSERT [dbo].[CHITIETSANPHAM] ([MACTSP], [MASP], [MASIZE], [SOLUONG], [MOTA], [GIABAN], [GIAVON], [TRANGTHAI]) VALUES (N'01.M', N'01', N'M', 1000, N'Sản phẩm 01 Size M', 50000.0000, 35000.0000, N'Không hoạt động')
INSERT [dbo].[CHITIETSANPHAM] ([MACTSP], [MASP], [MASIZE], [SOLUONG], [MOTA], [GIABAN], [GIAVON], [TRANGTHAI]) VALUES (N'01.S', N'01', N'S', 1000, N'Sản phẩm 01 Size S', 40000.0000, 30000.0000, N'Hoạt động')
INSERT [dbo].[HOADONBAN] ([MAHDB], [MAKH], [TONGTIENTHANHTOAN], [MANV_LAP], [NGAYLAPHD], [TRANGTHAI], [GHICHU]) VALUES (N'HD1', N'KH2', 95000.0000, N'NV2', CAST(N'2023-09-05 00:00:00.000' AS DateTime), N'Hoàn thành', NULL)
INSERT [dbo].[HOADONBAN] ([MAHDB], [MAKH], [TONGTIENTHANHTOAN], [MANV_LAP], [NGAYLAPHD], [TRANGTHAI], [GHICHU]) VALUES (N'HD2', N'KH1', 50000.0000, N'NV1', CAST(N'2023-05-19 00:00:00.000' AS DateTime), N'Hoàn thành', NULL)
INSERT [dbo].[HOADONBAN] ([MAHDB], [MAKH], [TONGTIENTHANHTOAN], [MANV_LAP], [NGAYLAPHD], [TRANGTHAI], [GHICHU]) VALUES (N'HD3', N'KH4', 100000.0000, N'NV1', CAST(N'2022-11-04 00:00:00.000' AS DateTime), N'Hoàn thành', NULL)
INSERT [dbo].[HOADONNHAP] ([MAHDN], [NGAYLAP], [MANV_LAP], [MANCC], [TRANGTHAI], [THANHTIEN]) VALUES (N'HDN1', CAST(N'2022-04-05 00:00:00.000' AS DateTime), N'NV4', N'01', N'Hoạt động', 3500000.0000)
INSERT [dbo].[HOADONNHAP] ([MAHDN], [NGAYLAP], [MANV_LAP], [MANCC], [TRANGTHAI], [THANHTIEN]) VALUES (N'HDN2', CAST(N'2022-07-05 00:00:00.000' AS DateTime), N'NV4', N'02', N'Hoạt động', 4000000.0000)
INSERT [dbo].[HOADONNHAP] ([MAHDN], [NGAYLAP], [MANV_LAP], [MANCC], [TRANGTHAI], [THANHTIEN]) VALUES (N'HDN3', CAST(N'2022-03-05 00:00:00.000' AS DateTime), N'NV4', N'03', N'Hoạt động', 3000000.0000)
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIACHI], [SDT], [NGAYSINH], [TRANGTHAI]) VALUES (N'KH1', N'Nguyễn Thị F', N'369 Đường Số 6', N'0918765432', CAST(N'1992-06-06 00:00:00.000' AS DateTime), N'Hoạt động')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIACHI], [SDT], [NGAYSINH], [TRANGTHAI]) VALUES (N'KH2', N'Phạm Văn J', N'123 Đường Sáng', N'0987654321', CAST(N'1985-10-10 00:00:00.000' AS DateTime), N'Không hoạt động')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIACHI], [SDT], [NGAYSINH], [TRANGTHAI]) VALUES (N'KH3', N'Trần Văn G', N'987 Đường Cao Tốc', N'0987654321', CAST(N'2001-07-07 00:00:00.000' AS DateTime), N'Không hoạt động')
INSERT [dbo].[KHUYENMAI] ([MAKM], [TENKM], [NGAYBATDAU], [NGAYHETHAN], [TRANGTHAI]) VALUES (N'KM1', N'Khuyến mãi hè', CAST(N'2022-06-01 00:00:00.000' AS DateTime), CAST(N'2022-08-31 00:00:00.000' AS DateTime), N'Hoạt động')
INSERT [dbo].[KHUYENMAI] ([MAKM], [TENKM], [NGAYBATDAU], [NGAYHETHAN], [TRANGTHAI]) VALUES (N'KM2', N'Cà phê chỉ còn 5k', CAST(N'2022-05-01 00:00:00.000' AS DateTime), CAST(N'2022-05-31 00:00:00.000' AS DateTime), N'Hoạt động')
INSERT [dbo].[KHUYENMAI] ([MAKM], [TENKM], [NGAYBATDAU], [NGAYHETHAN], [TRANGTHAI]) VALUES (N'KM3', N'Khuyến mãi mùa đông', CAST(N'2022-12-01 00:00:00.000' AS DateTime), CAST(N'2023-01-31 00:00:00.000' AS DateTime), N'Hoạt động')
INSERT [dbo].[LICHSUDANGNHAP] ([MANV], [NGAYGIODANGNHAP], [NGAYGIODANGXUAT], [TRANGTHAI], [SUADOIMATKHAU]) VALUES (N'NV2', CAST(N'2023-04-16 22:19:02.520' AS DateTime), NULL, N'', 0)
INSERT [dbo].[LICHSUDANGNHAP] ([MANV], [NGAYGIODANGNHAP], [NGAYGIODANGXUAT], [TRANGTHAI], [SUADOIMATKHAU]) VALUES (N'NV4', CAST(N'2023-04-16 21:49:34.760' AS DateTime), CAST(N'2023-04-16 21:49:49.997' AS DateTime), N'', 0)
INSERT [dbo].[LICHSUDANGNHAP] ([MANV], [NGAYGIODANGNHAP], [NGAYGIODANGXUAT], [TRANGTHAI], [SUADOIMATKHAU]) VALUES (N'NV4', CAST(N'2023-04-16 21:49:55.997' AS DateTime), NULL, N'', 0)
INSERT [dbo].[LOAISP] ([MALOAISP], [TENLOAISP], [TRANGTHAI]) VALUES (N'LSP1', N'Trà sữa', N'Hoạt động')
INSERT [dbo].[LOAISP] ([MALOAISP], [TENLOAISP], [TRANGTHAI]) VALUES (N'LSP2', N'Cà phê', N'Hoạt động')
INSERT [dbo].[LOAISP] ([MALOAISP], [TENLOAISP], [TRANGTHAI]) VALUES (N'LSP3', N'Nước ngọt', N'Hoạt động')
INSERT [dbo].[NHACC] ([MANCC], [TENNCC], [SDT], [DIACHI], [MOTA], [TRANGTHAI]) VALUES (N'003', N'abc', N'132       ', N'hoi', N'qwe', N'Xóa')
INSERT [dbo].[NHACC] ([MANCC], [TENNCC], [SDT], [DIACHI], [MOTA], [TRANGTHAI]) VALUES (N'01', N'Nhà cung cấp A', N'0987654321', N'Hà Nội', N'Cung cấp thức uống giải khát', N'Hoạt động')
INSERT [dbo].[NHACC] ([MANCC], [TENNCC], [SDT], [DIACHI], [MOTA], [TRANGTHAI]) VALUES (N'02', N'Nhà cung cấp B', N'0123456789', N'TP. HCM', N'Cung cấp nước ngọt', N'Hoạt động')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [DIACHI], [SDT], [CHUCVU], [NGAYVAOLAM], [GIOITINH], [NGAYSINH], [TRANGTHAI], [MATKHAU]) VALUES (N'NV1', N'Nguyễn Văn A', N'123 Đường Xã', N'0901234567', N'Quản lý', CAST(N'2015-01-01 00:00:00.000' AS DateTime), N'Nam', CAST(N'1980-01-01 00:00:00.000' AS DateTime), N'Đang làm', N'20c0b3af1da4cfc1bf40b880bdd9dca4fdbfe7070d17f20b7b4184d5df3861b5')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [DIACHI], [SDT], [CHUCVU], [NGAYVAOLAM], [GIOITINH], [NGAYSINH], [TRANGTHAI], [MATKHAU]) VALUES (N'NV2', N'Trần Thị B', N'456 Đường Thành', N'0909876543', N'Nhân viên bán hàng', CAST(N'2016-02-02 00:00:00.000' AS DateTime), N'Nữ', CAST(N'1990-02-02 00:00:00.000' AS DateTime), N'Đang làm', N'20c0b3af1da4cfc1bf40b880bdd9dca4fdbfe7070d17f20b7b4184d5df3861b5')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [DIACHI], [SDT], [CHUCVU], [NGAYVAOLAM], [GIOITINH], [NGAYSINH], [TRANGTHAI], [MATKHAU]) VALUES (N'NV3', N'Lê Minh C', N'789 Đường Mới', N'0987654321', N'Nhân viên phục vụ', CAST(N'2017-03-03 00:00:00.000' AS DateTime), N'Nam', CAST(N'1985-03-03 00:00:00.000' AS DateTime), N'Đang làm', N'20c0b3af1da4cfc1bf40b880bdd9dca4fdbfe7070d17f20b7b4184d5df3861b5')
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [LINK_IMG], [DONVITINH], [MOTA], [TRANGTHAI], [MANCC]) VALUES (N'01', N'Trà sữa truyền thống', N'D:\Study\LT Windows\QUANLYQUANCAPHE\image\trasua.jpg', N'ly', N'Trà sữa đen dai và thơm ngon kèm với bột béo 123 ...', N'Không hoạt động', N'001')
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [LINK_IMG], [DONVITINH], [MOTA], [TRANGTHAI], [MANCC]) VALUES (N'02', N'Coca Cola 123', N'D:\Study\LT Windows\QUANLYQUANCAPHE\image\cocacola.png', N'lon', N'Nước giải khát có ga ...', N'Hoạt động', N'001')
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [LINK_IMG], [DONVITINH], [MOTA], [TRANGTHAI], [MANCC]) VALUES (N'03', N'Pepsi', N'D:\Study\LT Windows\QUANLYQUANCAPHE\image\pepsi.jpg', N'ly', N'Nước giải khát có ga ', N'Hoạt động', N'001')
INSERT [dbo].[SIZE] ([MASIZE], [MOTA], [TRANGTHAI]) VALUES (N'L', N'Size lớn', 1)
INSERT [dbo].[SIZE] ([MASIZE], [MOTA], [TRANGTHAI]) VALUES (N'M', N'Size trung bình', 1)
INSERT [dbo].[SIZE] ([MASIZE], [MOTA], [TRANGTHAI]) VALUES (N'S', N'Size nhỏ', 1)
ALTER TABLE [dbo].[CHITIETHDB]  WITH CHECK ADD  CONSTRAINT [FK__CHITIETHD__MAHDB__76969D2E] FOREIGN KEY([MAHDB])
REFERENCES [dbo].[HOADONBAN] ([MAHDB])
GO
ALTER TABLE [dbo].[CHITIETHDB] CHECK CONSTRAINT [FK__CHITIETHD__MAHDB__76969D2E]
GO
ALTER TABLE [dbo].[CHITIETKM]  WITH CHECK ADD  CONSTRAINT [FK__CHITIETKM__MAKM__6EF57B66] FOREIGN KEY([MAKM])
REFERENCES [dbo].[KHUYENMAI] ([MAKM])
GO
ALTER TABLE [dbo].[CHITIETKM] CHECK CONSTRAINT [FK__CHITIETKM__MAKM__6EF57B66]
GO
ALTER TABLE [dbo].[CHITIETSANPHAM]  WITH CHECK ADD  CONSTRAINT [FK__CHITIETSA__MASIZ__6E01572D] FOREIGN KEY([MASIZE])
REFERENCES [dbo].[SIZE] ([MASIZE])
GO
ALTER TABLE [dbo].[CHITIETSANPHAM] CHECK CONSTRAINT [FK__CHITIETSA__MASIZ__6E01572D]
GO
ALTER TABLE [dbo].[CHITIETSANPHAM]  WITH CHECK ADD  CONSTRAINT [FK__CHITIETSAN__MASP__7E37BEF6] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CHITIETSANPHAM] CHECK CONSTRAINT [FK__CHITIETSAN__MASP__7E37BEF6]
GO
ALTER TABLE [dbo].[DATBAN]  WITH CHECK ADD FOREIGN KEY([MABAN])
REFERENCES [dbo].[BAN] ([MABAN])
GO
ALTER TABLE [dbo].[DATBAN]  WITH CHECK ADD FOREIGN KEY([MABAN])
REFERENCES [dbo].[BAN] ([MABAN])
GO
ALTER TABLE [dbo].[DATBAN]  WITH CHECK ADD FOREIGN KEY([MABAN])
REFERENCES [dbo].[BAN] ([MABAN])
GO
ALTER TABLE [dbo].[DATBAN]  WITH CHECK ADD FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[DATBAN]  WITH CHECK ADD FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[DATBAN]  WITH CHECK ADD FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[HOADONBAN]  WITH CHECK ADD  CONSTRAINT [FK__HOADONBAN__MAKH__5D95E53A] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[HOADONBAN] CHECK CONSTRAINT [FK__HOADONBAN__MAKH__5D95E53A]
GO
ALTER TABLE [dbo].[HOADONBAN]  WITH CHECK ADD  CONSTRAINT [FK__HOADONBAN__MANV___68487DD7] FOREIGN KEY([MANV_LAP])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADONBAN] CHECK CONSTRAINT [FK__HOADONBAN__MANV___68487DD7]
GO
ALTER TABLE [dbo].[HOADONBAN]  WITH CHECK ADD  CONSTRAINT [FK_HOADONBAN_HOADONBAN] FOREIGN KEY([MAHDB])
REFERENCES [dbo].[HOADONBAN] ([MAHDB])
GO
ALTER TABLE [dbo].[HOADONBAN] CHECK CONSTRAINT [FK_HOADONBAN_HOADONBAN]
GO
ALTER TABLE [dbo].[HOADONNHAP]  WITH CHECK ADD FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACC] ([MANCC])
GO
ALTER TABLE [dbo].[HOADONNHAP]  WITH CHECK ADD FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACC] ([MANCC])
GO
ALTER TABLE [dbo].[HOADONNHAP]  WITH CHECK ADD FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACC] ([MANCC])
GO
ALTER TABLE [dbo].[HOADONNHAP]  WITH CHECK ADD  CONSTRAINT [FK__HOADONNHA__MANV___3B75D760] FOREIGN KEY([MANV_LAP])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADONNHAP] CHECK CONSTRAINT [FK__HOADONNHA__MANV___3B75D760]
GO
ALTER TABLE [dbo].[HOADONNHAP]  WITH CHECK ADD FOREIGN KEY([MANV_LAP])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
/****** Object:  StoredProcedure [dbo].[THEMDANGNHAP]    Script Date: 4/16/2023 10:27:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[THEMDANGNHAP](@manv varchar(5))
as 
	begin 
			INSERT INTO LICHSUDANGNHAP VALUES (@manv,getdate(),null,'',0)
	end

GO
USE [master]
GO
